/* 
    Responsive Breakpoints:
    - PC : >=1024px (64em)
    - Tablet: >=740px (46.25em) & < 1024px (64em)
    - Mobile: <740px (46.25em)
*/

/* Tablet view (>= 740px & < 1024px) */
@media screen and (min-width: 46.25em) and (max-width: 64em) {
  #about_me_section,
  .footer_section__info {
    margin: 0;
  }

  #bar_section {
    height: -webkit-fill-available;
  }

  #nav a {
    padding: 3em 0;
  }
}

/* Mobile view (< 740px) */
@media screen and (max-width: 46.25em) {
  main {
    width: 100vh;
  }

  #bar_section {
    width: 100%;
    height: 5.7em;
    margin-top: -0.8em;
    opacity: 0.8;
  }

  #nav {
    display: flex;
    flex: 1 0 20%;
    justify-content: space-around;
    text-transform: uppercase;
  }

  #nav > img,
  #nav i {
    display: none;
  }

  #nav a {
    letter-spacing: 2px;
    width: 100%;
  }

  #page_section {
    margin-left: 0;
  }

  #header_section .header_section__img {
    display: flex;
    flex-wrap: wrap;
  }

  #header_section .header_section__img img {
    order: 2;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
  }

  #header_section .header_section___des {
    display: block;
    position: relative;
    margin-top: 40px;
  }

  #header_section .header_section___des p,
  h1 {
    font-size: 1.7em;
    color: rgb(115, 112, 112);
  }

  #about_me_section {
    margin: 0;
    font-size: 25px;
  }

  .skills .column {
    flex: 0 0 50%;
  }

  .form_control {
    font-size: large;
  }

  #footer_section,
  .footer_section__info {
    margin: 0;
  }
}
